@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@custom-variant dark (&:is(.dark *));
 
:root {
	/* Background colors */
    --bg: oklch(100% 0 0);
    --bg-hover: oklch(92% 0.004 286.32);
    --bg-elevated-1: oklch(98.5% 0 0);
    --bg-elevated-2: oklch(96.7% 0.001 286.375);
    --bg-elevated-3: oklch(92% 0.004 286.32);
    --bg-accent: hsl(204 93.8% 93.7%);
    --bg-accent-alt: hsl(200.6 94.4% 86.1%);
    --bg-accent-hover: hsl(200.6 94.4% 86.1%);
    --bg-destructive: hsl(0 93.3% 94.1%);

    /* Text colors */
    --fg: oklch(21% 0.006 285.885); /* hsl(240 5.9% 10%) */
    --fg-muted: oklch(70.5% 0.015 286.067);
    --fg-accent: oklch(39.1% 0.09 240.876);
    --fg-destructive: oklch(50.5% 0.213 27.518);

    /* Border colors */
    --border: oklch(92% 0.004 286.32);
    --border-alt: oklch(87.1% 0.006 286.286);
    --border-accent: hsl(198.6 88.7% 48.4%);
    --border-accent-alt: hsl(200.4 98% 39.4%);
    --focus: hsl(198.6 88.7% 48.4%);

    /* Other UI colors */
    --overlay: hsl(240 10% 3.9% / 50%);
    --skeleton: hsl(240 5.9% 90%);
}
 
.dark {
	/* Background colors */
    --bg: oklch(21% 0.006 285.885);
    --bg-hover: oklch(44.2% 0.017 285.786);
    --bg-elevated-1: oklch(27.4% 0.006 286.033);
    --bg-elevated-2: oklch(37% 0.013 285.805);
    --bg-elevated-3: oklch(44.2% 0.017 285.786);
    --bg-accent: hsl(201 90% 27.5%);
    --bg-accent-alt: hsl(201.3 96.3% 32.2%);
    --bg-accent-hover: hsl(201.3 96.3% 32.2%);
    --bg-destructive: hsl(0 62.8% 30.6%);

    /* Text colors */
    --fg: hsl(0 0% 98%);
    --fg-muted: hsl(240 4.9% 83.9%);
    --fg-accent: hsl(204 100% 97.1%);
    --fg-destructive: hsl(0 93.5% 81.8%);

    /* Border colors */
    --border: hsl(240 3.8% 46.1%);
    --border-alt: oklch(37% 0.013 285.805);
    --border-accent: hsl(200.4 98% 39.4%);
    --border-accent-alt: hsl(200.6 94.4% 86.1%);
    --focus: hsl(200.6 94.4% 86.1%);

    /* Other UI colors */
    --overlay: hsl(240 10% 3.9% / 80%);
    --skeleton: hsl(240 5.3% 26.1%);
}

@theme inline {
    --default-font-family: "Inter", "sans-serif";

    --color-bg: var(--bg);
    --color-bg-hover: var(--bg-hover);
    --color-bg-elevated-1: var(--bg-elevated-1);
    --color-bg-elevated-2: var(--bg-elevated-2);
    --color-bg-elevated-3: var(--bg-elevated-3);
    --color-bg-accent: var(--bg-accent);
    --color-bg-accent-alt: var(--bg-accent-alt);
    --color-bg-accent-hover: var(--bg-accent-hover);
    --color-bg-destructive: var(--bg-destructive);

    /* Text colors */
    --color-fg: var(--fg);
    --color-fg-muted: var(--fg-muted);
    --color-fg-accent: var(--fg-accent);
    --color-fg-destructive: var(--fg-destructive);

    /* Border colors */
    --color-border: var(--border);
    --color-border-alt: var(--border-alt);
    --color-border-accent: var(--border-accent);
    --color-border-accent-alt: var(--border-accent-alt);
    --color-color-focus: var(--focus);

    /* Other UI colors */
    --color-overlay: var(--overlay);
    --color-skeleton: var(--skeleton);

    --animate-scale-in: scale-in 0.2s ease;
    --animate-scale-out: scale-out 0.15s ease;

    --animate-fade-in: fade-in 0.2s ease;
    --animate-fade-out: fade-out 0.15s ease;

    @keyframes scale-in {
        from {
            opacity: 0;
            transform: rotateX(-10deg) scale(0.95);
        }
        to {
            opacity: 1;
            transform: rotateX(0deg) scale(1);
        }
    }

    @keyframes scale-out {
        from {
            opacity: 1;
            transform: rotateX(0deg) scale(1);
        }
        to {
            opacity: 0;
            transform: rotateX(-10deg) scale(0.98);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}

@utility calc-size-height {
    height: calc-size(min-content, size);
}

@utility scrollbar-hidden {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Modern browsers */
}

@utility bits-ui-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 50;
    width: 100%;
    max-height: 64rem;
    padding: 1rem;
    border-radius: 1rem;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 8rem);
    @media (width >= 28rem) {
        max-width: 26rem;
    };
}

@utility bits-ui-overlay {
    position: fixed;
    inset: 0rem;
    z-index: 49;
}

@utility dialog-center {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 50;
}